---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Hello">
    <main class="flex-grow flex justify-center items-center">
        <div class="text-center">
            <p>Site is still under constructions</p>
            <div class="animate-bounce">&#9888;</div>
        </div>
    </main>
</Layout>

<style>
    Header {
        opacity: 50%;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
