---

---

<footer class="z-0 mt-auto h-12 w-full flex justify-center items-center">
    <small class="text-sm text-gray-700">
        Developed by
        <a href="https://github.com/mandorzqy">&#127775;</a>
        &copy; <span id="copyrightYear"></span>
    </small>
</footer>

<script>
    document.querySelector("#copyrightYear").textContent = new Date().getFullYear().toString();
</script>